*,html {
    margin: 0;
    padding: 0;
}

.container-navbar {
    background-color: slateblue;
    color: white;
    width: 100%;
    height: 100px;
}

.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    border: 1px solid white;
    background-color: crimson;
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: white;
}

.container-content {
    background-color: lightpink;
}

.img-content {
    width: 30%;
    height: 30%;
    align-items: center;
}

.footer {
    background-color: lightseagreen;
}